@use "../abstracts" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(200);
  color: clr(neutral, 900);
  background-color: clr(neutral, 500);
  line-height: 1.5;
  min-width: 320px;
  min-height: 100vh;
}
